.form2 {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.form2Body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  border: 1px solid #a1a1a1;
  height: 25rem;
  box-shadow: 2px 2px 5px 1px #a1a1a1;
  overflow-y: scroll;
  margin-bottom: 3rem;
}
.detailContainer::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.detailContainer::-webkit-scrollbar-thumb {
  width: 5px;
  height: 10px;
  border-radius: 5px;
  background-color: #a1a1a1;
}
.top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  p {
    display: block;
    margin: auto;
    color: #020b3f;
    font-weight: normal;
    font-size: 30px;
  }
  img {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
  }
}
.inputContainer {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  selectContainer {
    width: 5rem;
  }
  label {
    margin: 0.5rem;
    margin-right: 2rem;
    color: #020b3f;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
  }
  input {
    border: 1px solid #a1a1a1;
    border-radius: 2px;
    padding: 3px;
  }
}
.details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  label {
    margin: 0.2rem;
    margin-left: 0.7rem;
    font-size: 14px;
    font-weight: 400;
    color: #a1a1a1;
    line-height: 16px;
    p {
      font-size: 10px;
    }
  }
}
.description {
  display: flex;
  flex-direction: column;
}
.btnSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    margin: 1rem;
    padding: 0.5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    background-color: #4babe1;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: none;
  }
}
.css-g1d714-ValueContainer {
  width: 20rem;
}
